@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Raleway:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3E5E3; /* Rosa Palo */
  color: #2D2D2D; /* Texto Oscuro */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #F3E5E3;
}
::-webkit-scrollbar-thumb {
  background: #D35400;
}
::-webkit-scrollbar-thumb:hover {
  background: #D97736;
}
