@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Playfair+Display:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A; /* iron */
  color: #FFFFF0; /* ivory */
}

/* Custom styles for date input to look good on dark mode */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
